
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner|Commets</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/comment.js"></script>
    <script src="../static/question.js"></script>
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/meeting.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#">Welcome Username</a></li>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Logout</button></a></li>
          </ul>
        </nav>
    </header>

    <div class="container">
      <div class= "nav-meetup">

         <a href="meetup.html"><h3>Meetup</h3></a>
         <a class="active" href="top_questions.html"><h3>Top Questions</h3></a>
      </div>
    </div>

    <hr class="separator">


    <div class="meetup-container">
      <div class="meetup-detail">
        <div class="container">
          <h1>The Annual Dev Fest</h1>
          <h2>Question</h2>
          <hr class="separator">

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>
          </div>

        </div>
        <div class="container">
          <h2>Comments:</h2>
          <div class="container">
            <div id="comment-section">
              <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>

            <div class="questions">
              <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>

            <div class="questions">
              <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>

            <div class="questions">
              <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
          </div>

        </div>

      </div>

      <div class="side-nav">

        <div class="attendance">
          <h3>Are you going?</h3>
          <button type="button" name="button">YES</button>
          <button type="button" name="button">NO</button>
        </div>

        <div id="post-question-button">
          <a href="post_question.html"> <input class= "login-button" type="button" name="" value="Post a Question"></a>

        </div>

        <div class="location">
          <p>Location: Nairobi, Westlands</p>
          <p>Description: Near Mayfair Hotel</p>
          <p>Time:  2pm-5pm</p>
        </div>

      </div>

    </div>



    <p></p>
    <footer>
      <p>Questioner &copy:2019</p>
    </footer>

  </body>
</html>
