<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner | Home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/meeting.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="signup.html">Sign Up</a></li>
          </ul>
        </nav>
    </header>

    <div class="welcome">
      <h1>Welcome to Questioner</h1>
      <h3>Have some questions that you think are perfect for a meetup?</h3>
      <a href="signup.html"> <input class= "login-button" type="button" name="signup" value="Sign Up"></a>
    </div>

    <div class="container">
      <h2>Available Meetups</h2>
      <div class="meetups">
        <div class="meetup-box">
            <a href="meetup.html"><img src="../static/meetup1.jpg" alt="coming soon"></a>
              <p id=date>Thursday,7th Feb 2019</p>
              <p>The annual Dev Fest</p>

        </div>

        <div class="meetup-box">
          <a href="meetup.html"><img src="../static/meetup2.jpg" alt="coming soon"></a>
            <p id=date>Friday,20th Feb 2019</p>
            <p>The Python lovers</p>
        </div>




        <div class="meetup-box">
            <img src="../static/meetup3.jpg" alt="coming soon">
              <p id=date>Monday,3th May 2019</p>
              <p>Ruby on Rails!</p>
        </div>

        <div class="meetup-box">
            <img src="../static/meetup4.jpg" alt="coming soon">
              <p id=date>Monday,3th May 2019</p>
              <p>Javascript meetup</p>
        </div>

        <div class="meetup-box">
            <img src="../static/meetup5.jpg" alt="coming soon">
              <p id=date>Monday,3th May 2019</p>
              <p>Java Lovers</p>
        </div>

        <div class="meetup-box">
            <img src="../static/meetup6.jpg" alt="coming soon">
              <p id=date>Monday,3th May 2019</p>
              <p>Android Apps Meetup</p>
        </div>
      </div>
    </div>
    <p></p>
    <footer>
      <p>Questioner &copy:2019</p>
    </footer>

  </body>
</html>
