<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner | Login</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/logo.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <!-- <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li> -->
            <li><a href="signup.html">Sign Up</a></li>
          </ul>
        </nav>
    </header>

    <div class="container">

      <section class="loginbox">
        <div class="container">
          <form class="" action="post_question.html" method="post">
            <p>Email</p> <br>
            <input type="email" name="" placeholder="Enter your email" value=""><br>
            <p>Password</p> <br>
            <input type="password" name="" placeholder="Enter password.." value=""><br>
            <input type="submit" name="" value="Submit">
            <p id="prompt">Don't have an account? <a href="signup.html">Sign up</a></p>
          </form>
        </div>
      </section>

    </div>



    <footer>
      <p>Questioner &copy:2019</p>
    </footer>

  </body>
</html>
