<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner|Meetup</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/meeting.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="signup.html">Sign Up</a></li>
          </ul>
        </nav>
    </header>

    <div class="container">
      <div class= "nav-meetup">
         <a href="homepage.html"><h3>Home</h3></a>
         <a class="active" href="meetup.html"><h3>Meetup</h3></a>
         <a href="top_questions.html"><h3>Top Questions</h3></a>
      </div>
    </div>

    <hr class="separator">


    <div id="meetup-container">
      <div class="meetup-detail">
        <div class="container">
          <h1 id="topic"></h1>
        </div>

        <img  src="../static/meetup1.jpg" alt="coming soon">
        <div class="container">
          <h3 id="details">Details</h3>
          <p id="description"></p>
        </div>

      </div>

      <div class="side-nav">

        <div class="attendance">
          <h3 id="rsvp">Are you going?</h3>
          <p id="rsvps"></p>
          <button onclick="RsvpYes()" id="yes" type="button" name="button">YES</button>
          <button onclick="RsvpNo()" id="no" type="button" name="button">NO</button>
        </div>

        <div>
          <a id="post-question-button" > <input class= "login-button" type="button" name="" value="Post a Question"></a>

        </div>

        <div class="location">
          <p id="location"></p>
          <p><strong>Location Description</strong>: Near Mayfair Hotel</p>
          <p id="date"></p>
          <p id="attendees"></p>
        </div>

      </div>
    </div>


    <p></p>
    <footer>
      <p>Questioner &copy:2019</p>
    </footer>
    <script src="../static/single_meetup.js" type="text/javascript">
    </script>

  </body>
</html>
