<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner | Home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/meeting.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
          </ul>
        </nav>
    </header>

    <section class="loginbox">
      <div class="container">
        <form class="" action="user_profile.html">
          <p>Name</p> <br>
          <input type="text" name="Name" placeholder="Enter a Username" value=""><br>
          <p>Email</p> <br>
          <input type="email" name="email" placeholder="Enter an Email.." value=""><br>
          <p>Password</p> <br>
          <input type="password" name="password" placeholder="Enter a password.." value="">
          <p>Confirm Password</p> <br>
          <input type="password" name="Repassword" placeholder="Retype password.." value="">
          <button class="login-button" type="submit" name="button">Submit</button>

        </form>
      </div>
    </section>


    <p></p>
    <footer>
      <p>Questioner &copy:2019</p>
    </footer>

  </body>
</html>
