<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/meeting.png" type="image/gif" sizes="16x16">
    <title>Questioner|Meetup</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/comment.js"></script>
  </head>
  <body>
    <header>
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/meeting.png" alt="coming soon"></a>
          <h1>Questioner</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="signup.html">Sign Up</a></li>
          </ul>
        </nav>
    </header>

    <div class="container">
      <div class= "nav-meetup">

         <a href="meetup.html"><h3>Meetup</h3></a>
         <a class="active" href="#"><h3>Top Questions</h3></a>
      </div>
    </div>

    <hr class="separator">


    <div class="meetup-container">
      <div class="meetup-detail">
        <div class="container">
          <h1>The Annual Dev Fest</h1>
          <h2>Top Questions</h2>
          <hr class="separator">

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>


              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-up"></i><span class="tooltiptext">I like this question</span>
                  <p class="count">30</p>
                </div>
              </div>
              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-down"></i><span class="tooltiptext">not a relevant question</span>
                  <p class="count">0</p>
                </div>
              </div>


            <div class="comment-button">
              <div id="comment">
            <!-- Popup Div Starts Here -->
                <div id="popupComment">
                  <!-- Comment Form -->
                  <form action="#" id="comment-form" method="post" name="form">
                    <img id="close" src="../static/close.png" onclick ="div_hide()" alt="close">
                    <h2>Comment</h2>
                    <hr>

                    <textarea id="msg" name="comment" placeholder="Your comment here"></textarea>
                    <a href="javascript:%20check_empty()" id="submit">Send</a>
                  </form>
                </div>
              <!-- Popup Div Ends Here -->
              </div>
              <h4>Comments :20</h4>
              <button id="popup" onclick="div_show()">Comment</button>
            </div>
          </div>

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>


              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-up"></i><span class="tooltiptext">I like this question</span>
                  <p class="count">30</p>
                </div>
              </div>
              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-down"></i><span class="tooltiptext">not a relevant question</span>
                  <p class="count">0</p>
                </div>
              </div>


              <div class="comment-button">
                <div id="comment">
              <!-- Popup Div Starts Here -->
                  <div id="popupComment">
                    <!-- Comment Form -->
                    <form action="#" id="comment-form" method="post" name="form">
                      <img id="close" src="images/3.png" onclick ="div_hide()" alt="close">
                      <h2>Comment</h2>
                      <hr>

                      <textarea id="msg" name="comment" placeholder="Your comment here"></textarea>
                      <a href="javascript:%20check_empty()" id="submit">Send</a>
                    </form>
                  </div>
                <!-- Popup Div Ends Here -->
                </div>
                <h4>Comments :20</h4>
                <button id="popup" onclick="div_show()">Comment</button>
              </div>
          </div>

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>


              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-up"></i><span class="tooltiptext">I like this question</span>
                  <p class="count">30</p>
                </div>
              </div>
              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-down"></i><span class="tooltiptext">not a relevant question</span>
                  <p class="count">0</p>
                </div>
              </div>


              <div class="comment-button">
                <div id="comment">
              <!-- Popup Div Starts Here -->
                  <div id="popupComment">
                    <!-- Comment Form -->
                    <form action="#" id="comment-form" method="post" name="form">
                      <img id="close" src="images/3.png" onclick ="div_hide()" alt="close">
                      <h2>Comment</h2>
                      <hr>

                      <textarea id="msg" name="comment" placeholder="Your comment here"></textarea>
                      <a href="javascript:%20check_empty()" id="submit">Send</a>
                    </form>
                  </div>
                <!-- Popup Div Ends Here -->
                </div>
                <h4>Comments :20</h4>
                <button id="popup" onclick="div_show()">Comment</button>
              </div>
          </div>

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>


              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-up"></i><span class="tooltiptext">I like this question</span>
                  <p class="count">30</p>
                </div>
              </div>
              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-down"></i><span class="tooltiptext">not a relevant question</span>
                  <p class="count">0</p>
                </div>
              </div>


              <div class="comment-button">
                <div id="comment">
              <!-- Popup Div Starts Here -->
                  <div id="popupComment">
                    <!-- Comment Form -->
                    <form action="#" id="comment-form" method="post" name="form">
                      <img id="close" src="../static/close.png" onclick ="div_hide()" alt="close">
                      <h2>Comment</h2>
                      <hr>

                      <textarea id="msg" name="comment" placeholder="Your comment here"></textarea>
                      <a href="javascript:%20check_empty()" id="submit">Send</a>
                    </form>
                  </div>
                <!-- Popup Div Ends Here -->
                </div>
                <h4>Comments :20</h4>
                <button id="popup" onclick="div_show()">Comment</button>
              </div>
          </div>

          <div class="questions">
            <p id=question>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</p>


              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-up"></i><span class="tooltiptext">I like this question</span>
                  <p class="count">30</p>
                </div>
              </div>
              <div class="wrap">
                <div class="tooltip">
                  <i onclick="" class = "fa fa-thumbs-down"></i><span class="tooltiptext">not a relevant question</span>
                  <p class="count">0</p>
                </div>
              </div>


              <div class="comment-button">
                <div id="comment">
              <!-- Popup Div Starts Here -->
                  <div id="popupComment">
                    <!-- Comment Form -->
                    <form action="#" id="comment-form" method="post" name="form">
                      <img id="close" src="images/3.png" onclick ="div_hide()" alt="close">
                      <h2>Comment</h2>
                      <hr>

                      <textarea id="msg" name="comment" placeholder="Your comment here"></textarea>
                      <a href="javascript:%20check_empty()" id="submit">Send</a>
                    </form>
                  </div>
                <!-- Popup Div Ends Here -->
                </div>
                <h4>Comments :20</h4>
                <button id="popup" onclick="div_show()">Comment</button>
              </div>
          </div>


        </div>

      </div>

      <div class="side-nav">

        <div class="attendance">
          <h3>Are you going?</h3>
          <button type="button" name="button">YES</button>
          <button type="button" name="button">NO</button>
        </div>

        <div id="post-question-button">
          <a href="#"> <input class= "login-button" type="button" name="" value="Post a Question"></a>

        </div>

        <div class="location">
          <p>Location: Nairobi, Westlands</p>
          <p>Description: Near Mayfair Hotel</p>
          <p>Time:  2pm-5pm</p>
        </div>

      </div>
    </div>


    <p></p>
    <footer>
      <p>Questioner &copy:2019</p>
    </footer>

  </body>
</html>
