body{
  font-family: Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

nav li a{
  font-size: 15px;
}


.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  min-height: 100%;
  /* margin-bottom: -50px; */
  flex: 1 0 auto;
}

.container h1{
  margin-top: 5px;
}

header{
  background: #f4f4f4;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #F64C72 3px solid;
}

header a{
  color: #F64C72;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  float: right;
  color: #F64C72;
}

header nav{
  float: right;
  margin-top: 10px;
}

.avatar{
  float: left;
  text-decoration: none;
  width: 50px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}


.login-button {
  background-color: #F64C72;
  border: none;
  color: black;
  padding: 15px 32px;
  padding-bottom: 10px;
  margin-top: -30px;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
}

.welcome{
  background-image: url("../static/meetup.jpg");
  image-resolution: from-image;
  text-align:center;
  height: 350px;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: none;
  overflow: hidden;
  color: #ffffff
}

.welcome h1{
  padding: 30px;
  padding-bottom: 20px;
  font-size: 45px;
}

.welcome h3{
  padding: 10px;
}

.meetup-box{
  /* border: #F64C72 2px solid; */
  padding-right: 20px;
  width:30%;
  text-align: center;
  align-items: center;
  /* margin: 0; */
  float:left;
}

.meetups :hover{
  box-shadow: 0 0 5px 2px #2F2FA2;
}

.meetup-box img{
  image-resolution: from-image;
  height: 250px;
  width: 300px;
  padding: 10px;
}

.meetup-box p{
  padding:0;
}

.meetup-box a p{
  text-decoration: none;
}

#date{
  font-weight: 1;
}

footer{
   margin-bottom: -20px;
    margin: 0;
    border-top: #F64C72 3px solid;
    text-align: center;
    background-color: #f4f4f4;
    color: #F64C72;
    /* height: 8px; */
    width: 100%;
    /* flex-shrink: 0 */
}

.loginbox{
  background: #ffffff;
  border: 1px solid #F64C72;
  border-radius: 6px;
  height: auto;
  margin: 20px auto 0;
  width: 298px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.loginbox p{
  margin: 0;
  padding-top: 20px;
  font-weight: bold;
}

.loginbox input{
  width: 200px;
  margin-bottom: 20px;
}

.loginbox input[type='email'], input[type="password"], input[type="text"]{
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #F64C72;
  /* background-color: #ffffff */
  background: transparent;
  outline: none;
  height: 20px;
  color: black;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 30px;
  background: #F64C72;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 40px;
}

.meetup-container{
  width: 100%;
}

.meetup-detail{
  width: 70%;
  float: left;

}

.meetup-detail img{
  image-resolution: from-image;
  width: 100%;
  height: 500px;
}

.side-nav{
  float: right;
  width: 29%;
}

.attendance{
  text-align: center;
}

.attendance button{
  padding: 5px;
  margin: 10px;
}

.attendance h3{
  margin-bottom: 0;
}

.location{
  margin-top: 20px;
  text-align: center;
  border: solid 2px #F64C72;
  min-height: 350px;
  width: 80%;
  margin: auto;
}

#post-question-button{
  text-align: center;
  padding: 20px;
}

.separator{
  height: 0;
  width: 100%;
  border-width: 1px 0 0;
  border-color: #b3b3b3;
  opacity: 0.3;
  margin: 15px 0;
  padding:0px;
}

.nav-meetup a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  padding-right: 15px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 15px;;
  text-decoration: none;
  margin-bottom: -18px;
  margin-top: 20px;
  border-right: #b3b3b3 1px solid;
}

.active{
  background-color: #F64C72;
}

.questions{
  border-bottom: #b3b3b3 2px solid;
  float:left;
}

.comment-button{
  float:right;
}

.fa {
  font-size: 70px;
  cursor: pointer;
  user-select: none;
  float: left;
}

.fa:hover {
  color: darkblue;
}

.wrap{
  padding-bottom: 5px;
  width: 20%;
}

.count{
  font-size: 20px;
  font-weight: bold;
  /* float: right; */
  margin: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
